@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import "tailwindcss";
:root {

  background-color: #000;
}


::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-thumb {
  background-color: #C2C2C2; 
  border-radius: 10px; 
}

::-webkit-scrollbar-track {
  background: #E5E5E5; 
}

@keyframes slideIn {
  from {
      transform: translateX(-100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}
.animate-slide-in {
  animation: slideIn 1s ease-out;
}